<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> 
            <img src="../../assets/logo3.png" alt="SuperSwim Logo" width="90" height="90" class="d-inline-block align-top">
           
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText"  *ngIf="isLoggedIn;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">
              <i class="fas fa-home"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-calendar-alt"></i> Batches
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-shopping-cart"></i> Merchandise
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-line"></i> Reports
            </a>
          </li>
        </ul>
        <span class="navbar-nav">
          <ul>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="fas fa-sign-out-alt"></i> Logout <!-- Font Awesome logout icon -->
              </a>
            </li>
          </ul>
        </span>
        
      </div>
    </div>
    
  </nav>
  
  <router-outlet></router-outlet>
  