.receipt {
    width: 500px; /* Set the width of the receipt */
    padding: 10px;
    border: 1px solid #ccc;
    margin: auto;
  }
  
  @media print {
    /* Hide the print button when printing */
    .no-print {
      display: none !important;
    }
  }

  .container.receipt {
    position: relative;
  }
  
  .receipt-number {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px; /* Optional: Adjust margin as needed */
  }
  
  